name: Publish Website

on:
  schedule:
    - cron: 0 23 * * *
  workflow_dispatch: {}

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Cache node modules
        id: cacheNodeModules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-cacheNodeModules2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cacheNodeModules2-

      - name: Install dependencies
        if: steps.cacheNodeModules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build main project
        run: npm run build

      - name: Build website
        working-directory: website
        run: |
          npm ci
          npm install monaco-editor
          npm run build
          # --- ここが重要！ ---
          # .gitignoreを無視して、distの中にnode_modulesの必要部分を物理コピーする
          mkdir -p dist/node_modules/monaco-editor
          cp -r node_modules/monaco-editor/min dist/node_modules/monaco-editor/
          # --------------------

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # website/dist の中身をアップロード
          path: './website/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
