
* {
    font-family: "LINE Seed JP", sans-serif;
    line-height: 1 !important;
}
body{
    background:#f6f6f6;
}
button{
    padding:8px 16px;
    border:none;
    border-radius:18px;
    corner-shape: superellipse(1.6);
    background:#00000008;
}
.workspace{
    background:#fff;
    padding:5px;
    border-radius:32px;
    corner-shape: superellipse(1.6);
    outline:none;
    border:#eee 2px solid;

}
#hybridEditor{
    outline:none;
}

#backBtn{
    background:#fff0;
    padding:0px;
    corner-shape:unset;
    border-radius:100%;
}
#backBtn img{
    height:64px;
}

#projectName{
    border:none;
    outline:none;
    background:none;
    font-size:24px;
    background:#fff;
    padding:8px 16px;
    border-radius:100px;
}